
<div class="container">
  <div class="row">
    <div class="col">
      {{#each this.data.servers as |server|}}
        {{#if server.apps}}
          <div class="container">
            <div class="row">
              <div class="col mb-4">
                <h4>{{server.name}}</h4>
                  {{#each server.apps as |app|}}
                    {{#if app.url}}
                      <div><a href="{{app.url}}" target="_blank">{{app.name}}</a></div>
                    {{else}}
                      <div>{{app.name}}</div>
                    {{/if}}
                  {{/each}}
              </div>
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>